.icon-btn {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: var(--gray-500);
  font-size: 0.9rem;
}

.icon-btn:hover {
  color: var(--primary);
}

.icon-btn i {
  vertical-align: middle;
  line-height: 1;
}